<nav class="navbar navbar-inverse">
</nav>
<p style="font-size: 40px" align = "center">Task Manager:</p>
<table class='table table-bordered'>
	<thead>
		<tr>
			<td style="font-weight:bold" align ="center">Task Name:</td>
			<td style="font-weight:bold"  align ="center">Task Time:</td>
			<td style="font-weight:bold"  align ="center">Task Status:</td>
			<td style="font-weight:bold"  align ="center">Task Delete:</td>
			<td style="font-weight:bold"  align ="center">Task Start:</td>
			<td style="font-weight:bold"  align ="center">Task Edit:</td>
		</tr>
	</thead>
	<tbody>
	<% @pendings.each do |pending| %>
		<tr>
		<td class="panel panel-default" align ="center"><%= pending.task_name %></td>
		<td class="panel panel-default" align ="center"><%= pending.task_time_in_minutes %></td>
		<td class="panel panel-default" align ="center"><%= pending.status %></td>
		<td class="panel panel-default" align ="center"><%= link_to 'Delete', pending,class: 'btn btn-primary btn-xs', method: :delete %> </td>
		<td class="panel panel-default" align ="center"><%= button_to 'Start' , start_path(pending) , class: 'btn btn-primary btn-xs',  method: :put %></td>
		<td class="panel panel-default" align ="center"> <%= link_to 'Edit' , edit_path(pending), class: 'btn btn-primary btn-xs'  %></td>
		

		</tr>
		<% end %>
	</tbody>
</table>
<div align = "center">
<%= link_to 'New Task' , pendings_new_path , class: 'btn btn-success' %>
</div>

<table class='table table-bordered'>
	<thead>
		<br><br><br><tr>
			<td style="font-weight:bold" align ="center">Task Name:</td>
			<td style="font-weight:bold" align ="center">Task Time:</td>
			<td style="font-weight:bold" align ="center">Task Status:</td>
			<td style="font-weight:bold" align ="center">Undo:</td>
		</tr>
	</thead>
	<tbody>
		<% @progressings.each do |progress| %>
		<tr>
			<td><%= progress.task_name %></td>
			<td><%= progress.task_time_in_minutes %></td>
			<td><%= progress.status %></td>
			<td><%= button_to 'undo' , undo_path(progress) , method: :put %></td>
		</tr>
		<% end %>
	</tbody>
</table>